
# DO NOT REMOVE THIS LINE AND THE LINES BELLOW SSL_REDIRECT:sistemas-inteligentes.net
#RewriteEngine on
#RewriteCond %{HTTPS} off
#RewriteCond %{HTTP_HOST} (www\.)?sistemas-inteligentes.net
#RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
# DO NOT REMOVE THIS LINE AND THE LINES BELLOW SSL_REDIRECT:sistemas-inteligentes.net

# DO NOT REMOVE THIS LINE AND THE LINES BELLOW UPGRADE_INSECURE_REQUESTS:sistemas-inteligentes.net
Header always set Content-Security-Policy: upgrade-insecure-requests
# DO NOT REMOVE THIS LINE AND THE LINES BELLOW UPGRADE_INSECURE_REQUESTS:sistemas-inteligentes.net


# DO NOT REMOVE THIS LINE AND THE LINES BELLOW SSL_REDIRECT:sistemas-inteligentes.net
#RewriteEngine on
#RewriteCond %{HTTPS} off
#RewriteCond %{HTTP_HOST} (www\.)?sistemas-inteligentes.net
#RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
# DO NOT REMOVE THIS LINE AND THE LINES BELLOW SSL_REDIRECT:sistemas-inteligentes.net

RewriteEngine On
RewriteCond $1 !^(index\.php|css|fonts|js|plugins|img|images|styles|resources|store|assets|robots\.txt)
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php/$1 [L]
